<p id="notice"><%= notice %></p>

<h1>Moves</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Turn</th>
      <th scope="col">Orders</th>
      <th scope="col">Game</th>
      <th scope="col">Player</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td scope="row"><%= move.turn %></td>
        <td><%= move.orders %></td>
        <td><%= link_to move.game.name, move.game %></td>
        <td><%= link_to move.player.user.name, move.player %></td>
        <td><%= link_to 'Show', move %></td>
        <td><%= link_to 'Edit', edit_move_path(move) %></td>
        <td><%= link_to 'Destroy', move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Move', new_move_path %>
