<p id="notice"><%= notice %></p>

<h2>Move</h3>
<p>
  <strong>Turn:</strong>
  <%= @move.turn %>
</p>

<p>
  <strong>Orders:</strong>
  <%= @move.orders %>
</p>

<p>
  <strong>Game:</strong>
  <%= link_to @move.game.name, @move.game %>
</p>

<p>
  <strong>Player:</strong>
  <%= link_to @move.player.user.name, @move.player.user %> (<%= link_to @move.player.color, @move.player %>)
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
