<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, 
        (1..Game::STATUS_MAX).collect {|i| [Game::STATUS_DESCRIPTION[i], i] },
        { include_blank: "Select game status..." }
        %>
    </div>
  </div>

  <%= form.fields_for :players do |form_player| %>
    <h3>Player</h3>
    <p>
    <div class="container">
      <%= form_player.label :color %>
      <%= form_player.text_field :color %>

      <%= form_player.label :user_id %>
      <%= form_player.collection_select :user_id, User.all, :id, :name %>

      <%= form_player.label :status %>
      <%= form_player.select :status,
        (1...Player::STATUS_TEXT.size).collect {|i| [Player::STATUS_TEXT[i], i] },
        { include_blank: "Select game status..." }
      %>
    </div>
    </p>
  <% end %>



  <div class="actions">
    <p>
      <%= form.submit %>
    </p>
  </div>
<% end %>
