<p id="notice"><%= notice %></p>

<h2>Game</h2>
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= Game::STATUS_DESCRIPTION[@game.status] %>
</p>


<h3>Players</h3>
<ul>
  <% @game.players.each do |p| %>
    <li><%= link_to p.user.name, p.user %> (<%= link_to p.color, p %>)
  <% end %>

</ul>
<h3>Board</h3>
<%= raw @board %>
<h3>Moves</h3>
<ul>
  <% @game.moves.order(:turn).each do |move| %>
    <li><%= link_to move.turn, move %>: <%= move.player.color %>: <%= move.orders %>
  <% end %>
</ul>

<% if @is_active_player then %>
  <%= form_with url: moves_path, method: :post do |form| %>

    <%= form.hidden_field "move[turn]", value: @num_moves + 1 %>
    <%= form.hidden_field "move[game_id]", value: @game.id %>
    <%= form.hidden_field "move[player_id]", value: 1 %>

    <%= form.label "move[orders]", "Move:" %>
    <%= form.text_field "move[orders]" %>

    <%= form.submit "Submit Move" %>

  <% end %>

  <% move = Move.new %>
  <%= form_with(model: move) do |form| %>
    <!-- I don't expect any of this to work. form is directed to new move. -->
    <% if move.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(move.errors.count, "error") %> prohibited this move from being saved:</h2>

        <ul>
          <% move.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :turn, value: @num_moves + 1 %>
    <%= form.hidden_field :game_id, value: @game.id %>
    <%= form.hidden_field :player_id, value: 1 %>

 (alternate method)
    <div class="field">
      <%= form.label :orders %>
      <%= form.text_area :orders %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

<% end %>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
