<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>


<h3>Players<h3>
<ul>
  <% @game.players.each do |p| %>
    <li><%= link_to p.user.name, p.user %> (<%= p.color %>)
  <% end %>

  <pre><%= @board %></pre>
</ul>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
