<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= link_to @player.user.name, @player.user %> (<%= @player.color %>)
</p>

<p>
  <strong>Game:</strong>
  <%= link_to @player.game.name, @player.game %>
</p>

<p>
  <strong>Status:</strong>
  <%= @status %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
