<h1>Welcome</h1>

The time is <%= Time.now %>

<p>Hello, <%= @user.name %>

<h1>Games</h1>
<h3>Your move</h3>
<% if @play_games.count > 0 %>
  <ul>
  <% @play_games.each do |g| %>
    <li><%= link_to g.name, g %>
  <% end %>
  </ul>
<% else %>
  <div class="container">
    <p>None</p>
  </div>
<% end %>

<h3>Waiting for opponent</h3>
<% if @done_games.count > 0 %>
  <ul>
  <% @done_games.each do |g| %>
    <li><%= link_to g.name, g %>
  <% end %>
  </ul>
<% else %>
  <div class="container">
    <p>None</p>
  </div>
<% end %>

<h3>Finished Games</h3>
<% if @finished_games.count > 0 %>
  <ul>
  <% @finished_games.each do |g| %>
    <li><%= link_to g.name, g %>
  <% end %>
  </ul>
<% else %>
  <div class="container">
    <p>None</p>
  </div>
<% end %>

<h3>Archived Games</h3>
<% if @archived_games.count > 0 %>
  <ul>
  <% @archived_games.each do |g| %>
    <li><%= link_to g.name, g %>
  <% end %>
  </ul>
<% else %>
  <div class="container">
    <p>None</p>
  </div>
<% end %>

<!--%= link_to "Archived games", "#" %-->
