<!DOCTYPE html>
<html>
  <head>
    <title>Railschess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <h1>RailsChess</h1>
  <%= link_to "Games", games_url %>
  <%= link_to "Users", users_url %>
  <%= link_to "Players", players_url %>
  <%= link_to "Moves", moves_url %>
  <%= link_to "Pieces", pieces_url %>

  <body>
    <%= yield %>
  </body>
</html>
